<div class="row">
    <div class="col-md-12">
        <button (click)="delete(digitalMenu?.id)" class="btn btn-light" type="button">
            <fa-icon [fixedWidth]="true" [size]="'1x'" icon="trash"></fa-icon>
            <span class="d-none d-md-inline">MENU</span>
        </button>
        <h1>{{digitalMenu?.name}}</h1>
        <form [formGroup]="menuForm">
            <div class="row">
                <div class="col-md-5">
                    <div *ngIf="!digitalMenu" class="form-group">
                        <label for="name">Nom</label>
                        <input class="form-control" formControlName="name" id="name" placeholder="nom" type="text">
                    </div>
                    <div *ngIf="digitalMenu" [formGroup]="editForm" class="form-group">
                        <label>Name</label>
                        <input class="form-control"
                               formControlName="name"
                               placeholder="{{digitalMenu?.name}}"
                               type="text">
                    </div>
                </div>

                <div class="col-md-3">
                    <button (click)="addMenu()"
                            *ngIf="!digitalMenu"
                            [disabled]="menuForm.invalid"
                            class="btn btn-outline-success"
                            type="submit"> Ajouter
                    </button>
                    <button (click)="save()"
                            *ngIf="digitalMenu"
                            [disabled]="editForm.invalid || isSaving "
                            class="btn btn-outline-info"
                            queryParamsHandling="merge"
                            type="submit">
                        <fa-icon [fixedWidth]="true" [size]="'1x'" icon="edit"></fa-icon>
                    </button>
                </div>

                <div *ngIf="digitalMenu" class="col-md-4">
                    <div id="qrcode">
                        <qrcode #parent [elementType]="'img' " [errorCorrectionLevel]="'M'" [qrdata]="data" [width]="250"></qrcode>
                        <div class="row" id="download" *ngIf="digitalMenu">
                            <a (click)="saveAsImage(parent)">
                                <fa-icon [fixedWidth]="true" [size]="'2x'" icon="download"></fa-icon>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div class="row" *ngIf="digitalMenu">
            <ul class="nav nav-tabs">
                <li *ngFor="let category of digitalMenu?.categories" class="nav-item">
                    <a (click)="selectCategory(category)" class="nav-link {{category?.id === selectedCategory?.id ? 'active' : ''}}"
                       data-toggle="tab" role="tab">{{category.name}}</a>
                </li>
                <li class="nav-item">
                    <a (click)="selectCategory(null)" class="nav-link {{ !selectedCategory?.id ? 'active' : ''}}" data-toggle="tab"
                       for="add" role="tab">
                        <fa-icon [fixedWidth]="true" [size]="'1x'" icon="plus"></fa-icon>
                        <span> Categorie</span></a>
                </li>
            </ul>
        </div>
        <div *ngIf="digitalMenu" class="row card">
            <div class="col-md-12">
                <div>
                    <div class="card-body">
                        <div *ngIf="selectedCategory?.id" class="tab-content">
                            <button (click)="deleteCategory(selectedCategory?.id)" class="btn btn-light" id="deleteCategory"
                                    type="button">
                                <fa-icon [fixedWidth]="true" [size]="'1x'" icon="trash"></fa-icon>
                                <span class="d-none d-md-inline"> Categorie</span>
                            </button>
                            <button (click)="open(content)" class="btn btn-lg btn-outline-primary">
                                <fa-icon [fixedWidth]="true" [size]="'1x'" icon="plus"></fa-icon>
                                <span> Produit</span></button>
                            <div *ngFor="let product of selectedCategory?.products">
                                <jhi-product [category]="selectedCategory" [product]="product"></jhi-product>
                            </div>
                        </div>
                        <div *ngIf="!selectedCategory?.id" class="tab-content">
                            <form [formGroup]="categoryForm">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group" id="category">
                                            <label for="categoryName">Nom</label>
                                            <input class="form-control" formControlName="name" id="categoryName"
                                                   placeholder="nom"
                                                   type="text">

                                            <label for="level">Ordre</label>
                                            <input class="form-control" formControlName="level" id="level"
                                                   placeholder="ordre"
                                                   type="text">

                                            <div>
                                                <button (click)="addCategory()" [disabled]="categoryForm.invalid"
                                                        class="btn btn-outline-success float-lg-right"
                                                        type="submit">Ajouter
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">New Product</h4>
        <button (click)="d('Cross click')" aria-label="Close" class="close" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="productForm">
            <div class="row">
                <div class="form-group">
                    <label>Image</label>
                    <div class="input-group mb-3">
                        <div class="custom-file">
                            <input (change)="onUploadFile($event.target)"
                                   accept="image/*"
                                   formControlName="image"
                                   id="file"
                                   name="files"
                                   type="file">

                            <label class="custom-file-label"
                                   for="file">{{image?.name}}

                            </label>
                        </div>
                        <div class="input-group-append">
                            <button (click)="deleteFile(image.id)" [disabled]="!image" class="input-group-text">Delete
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-1"></div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="productName">Nom</label>
                        <input class="form-control" formControlName="name" id="productName" placeholder="nom"
                               type="text">

                        <label for="description">Description</label>
                        <input class="form-control" formControlName="description" id="description"
                               placeholder="description"
                               type="text">

                        <label for="price">Prix</label>
                        <input class="form-control" formControlName="price" id="price" placeholder="prix"
                               type="text">

                        <label for="productLevel">Ordre</label>
                        <input class="form-control" formControlName="level" id="productLevel" placeholder="ordre"
                               type="text">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button (click)="addProduct()" [disabled]="productForm.invalid" class="btn btn-outline-success float-lg-right"
                type="button">Ajouter
        </button>
    </div>
</ng-template>

