<div class="row">
<div class="col-md-3" style="background: white"></div>

    <div class="col-md-9">
    <form [formGroup]="menuForm" >
        <div class="row" id="form">
            <div class="col-md-6" >
                <div class="form-group" *ngIf="!digitalMenu">
                    <label for="name">Name</label>
                    <input class="form-control" formControlName="name" id="name" placeholder="name" type="text">
                </div>
                <div class="form-group" *ngIf="digitalMenu" [formGroup]="editForm" >
                    <label>Name</label>
                    <input class="form-control"
                           formControlName="name"
                           placeholder="{{digitalMenu.name}}"
                           type="text">
                </div>

                <button *ngIf="!digitalMenu"
                        (click)="addMenu()"
                        [disabled]="menuForm.invalid"
                        class="btn btn-outline-success"
                        type="submit"> Ajouter
                </button>
                <button *ngIf="digitalMenu"
                        (click)="save()"
                        [disabled]="editForm.invalid || isSaving "
                        class="btn btn-outline-info"
                        queryParamsHandling="merge"
                        type="submit">
                    <span class="d-none d-md-inline">Edit</span>
                </button>
            </div>
            <div class="col-md-3" >
                <div id="qrcode" >
                </div>
            </div>
        </div>
    </form>

<div class="row card" *ngIf="digitalMenu" >
    <div class="col-md-12" >
        <div>
            <h5 class="card-title">{{digitalMenu.name}}</h5><hr>

            <div class="card-body">

                <button (click)="delete(digitalMenu.id)" class="btn btn-light" type="button">
                    <span class="d-none d-md-inline">Delete</span>
                </button>
            </div>
        </div>
    </div>
</div>
</div>
</div>




<!--<div class="col-md-9">-->
<!--    <form [formGroup]="menuForm">-->
<!--    <div class="col-md-4" >-->
<!--    <div class="form-group">-->
<!--        <label for="name">Name</label>-->
<!--        <input class="form-control" formControlName="name" id="name" placeholder="name" type="text">-->
<!--    </div>-->
<!--        <button (click)="addMenu()" [disabled]="menuForm.invalid" class="btn btn-outline-success" type="submit">-->
<!--            Ajouter-->
<!--        </button>-->
<!--    </div>-->

<!--    </form>-->
<!--</div>-->

<!--    <div class="row card" *ngIf="digitalMenu">-->
<!--        <div class="col-md-12" ></div>-->
<!--            <h5 class="card-title">{{digitalMenu.name}}</h5>-->

<!--                <div class="card-body">-->


<!--                    <button [routerLink]="[digitalMenu.id, 'edit']"-->
<!--                            class="btn btn-outline-info"-->
<!--                            queryParamsHandling="merge"-->
<!--                            type="submit">-->
<!--                        <span class="d-none d-md-inline">Edit</span>-->
<!--                    </button>-->

<!--                    <button (click)="delete(digitalMenu.id)" class="btn btn-light" type="button">-->
<!--                        <span class="d-none d-md-inline">Delete</span>-->
<!--                    </button>-->
<!--                </div>-->
<!--            </div>-->
<!--</div>-->











<!--    <ngb-accordion #acc="ngbAccordion" >-->
<!--        <ngb-panel id="toggle-2" title="New Category">-->
<!--            <ng-template ngbPanelContent>-->
<!--                <form [formGroup]="productForm">-->
<!--                    <div class="row">-->
<!--                        <div class="col-md-6">-->
<!--                            <div class="form-group">-->
<!--                                <label for="name">Name</label>-->
<!--                                <input class="form-control" formControlName="name" id="name" placeholder="name"-->
<!--                                       type="text">-->

<!--                                <label for="level">Level</label>-->
<!--                                <input class="form-control" formControlName="level" id="level"-->
<!--                                       placeholder="level"-->
<!--                                       type="text">-->

<!--                                <div>-->
<!--                                    <button (click)="add()" [disabled]="productForm.invalid" class="btn btn-outline-success float-lg-right"-->
<!--                                            type="submit">Ajouter-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-md-2"></div>-->
<!--                    </div>-->
<!--                </form>-->
<!--            </ng-template>-->
<!--        </ngb-panel>-->
<!--    </ngb-accordion>-->

<!--    <div class="card border-light " >-->
<!--        <div class="card-header">category</div>-->
<!--        <ngb-accordion #acc="ngbAccordion">-->
<!--            <ngb-panel id="toggle-1" title="New Product">-->
<!--                <ng-template ngbPanelContent>-->
<!--                    <form [formGroup]="productForm">-->
<!--                        <div class="row">-->
<!--                            <div class="form-group">-->
<!--                                <label>Image</label>-->
<!--                                <div class="input-group mb-3">-->
<!--                                    <div class="custom-file">-->
<!--                                        <input (change)="onUploadFile($event.target)"-->
<!--                                               formControlName="logo"-->
<!--                                               id="file"-->
<!--                                               name="files"-->
<!--                                               type="file"-->
<!--                                               accept="image/*">-->

<!--                                        <label class="custom-file-label"-->
<!--                                               for="file">{{image?.name}}-->

<!--                                        </label>-->
<!--                                    </div>-->
<!--                                    <div class="input-group-append">-->
<!--                                        <button class="input-group-text" (click)="deleteFile(image.id)" [disabled]="!image">Delete</button>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-1"></div>-->

<!--                            <div class="col-md-6">-->
<!--                                <div class="form-group">-->
<!--                                    <label for="categoryName">Name</label>-->
<!--                                    <input class="form-control" formControlName="name" id="categoryName" placeholder="name"-->
<!--                                           type="text">-->

<!--                                    <label for="description">Description</label>-->
<!--                                    <input class="form-control" formControlName="description" id="description"-->
<!--                                           placeholder="description"-->
<!--                                           type="text">-->

<!--                                    <label for="price">Price</label>-->
<!--                                    <input class="form-control" formControlName="price" id="price" placeholder="price"-->
<!--                                           type="text">-->

<!--                                    <label for="rating">Rating</label>-->
<!--                                    <input class="form-control" formControlName="rating" id="rating" placeholder="rating"-->
<!--                                           type="text">-->

<!--                                    <div>-->
<!--                                        <button (click)="add()" [disabled]="productForm.invalid" class="btn btn-outline-success float-lg-right"-->
<!--                                                type="submit">Ajouter-->
<!--                                        </button>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-md-2"></div>-->
<!--                        </div>-->
<!--                    </form>-->
<!--                </ng-template>-->
<!--            </ngb-panel>-->
<!--        </ngb-accordion>-->
<!--        <div class="row" *ngFor="let product of productList">-->
<!--            <div class="col-md-3">-->
<!--                <img *ngIf="product.image"-->
<!--                     [src]="getImageUrl(product.image)">-->
<!--            </div>-->
<!--        <div class="col-md-9">-->
<!--        <div class="card-body ">-->
<!--            <h4 class="card-title">{{product.name}}</h4>-->
<!--            <p class="card-text">{{product.description}}</p>-->
<!--            <p class="card-text">{{product.price}}</p>-->
<!--            <ngb-rating [rate]="3"></ngb-rating>-->
<!--        </div>-->
<!--        </div>-->
<!--        </div>-->
<!--    </div>-->



