
<div class="container p-0">

    <a href="#" class="btn btn-primary float-right mt-n1"><i class="fa fa-plus"></i> New Product</a><div class="container padding-bottom-3x mb-2">
</div>
    <div class="row">
        <div class="col-3">
            <nav class="list-group">
                <a class="panel-title" href="#">Categories</a>
                <ul>
                    <li>category 1</li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-8">
            <div class="padding-top-2x mt-2 hidden-lg-up"></div>

            <div class="table-responsive wishlist-table margin-bottom-none">
                <section class="search-result-item">
                    <a class="image-link" href="#"><img class="image" src="https://bootdey.com/img/Content/avatar/avatar1.png">
                    </a>
                    <div class="search-result-item-body">
                        <div class="row">
                            <div class="col-sm-9">
                                <h4 class="search-result-item-heading">product name</h4>
                                <p class="description">product description</p>

                                <div class="rating">
                                    <span class="fa fa-stack"><i class="fa fa-star"></i></span>
                                    <span class="fa fa-stack"><i class="fa fa-star"></i></span>
                                    <span class="fa fa-stack"><i class="fa fa-star"></i></span>
                                    <span class="fa fa-stack"><i class="fa fa-star"></i></span>
                                    <span class="fa fa-stack"><i class="fa fa-star-o"></i></span>
                                </div>
                            </div>
                            <div class="col-sm-3 text-align-center">
                                <p class="value3 mt-sm">price</p>
                                    <a href="#" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                                    <a href="#" class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
