img {
  width: 250px;
}
.nav {
  display: flex;
}
ul {
  inline-size: fit-content;
  display: inline-block;
}
ul.nav {
  margin-bottom: -27px;
  margin-left: 3px;
}
h1 {
  text-align: center;
}
.btn-outline-info {
  margin-top: 60px;
  margin-left: -20px;
  border-color: #f7f7e2;
}
.btn-light {
  float: right;
  margin-top: -35px;
}
#deleteCategory.btn-light {
  margin: auto;
}
#category {
  padding-left: 250px;
  padding-right: 250px;
}
.col-md-5 {
  margin-top: 30px;
}
#download {
  float: right;
  margin-right: 40px;
}
span {
}
