<div class="container" *ngIf="establishment">
        <form (ngSubmit)="save()" [formGroup]="editForm" name="editForm" role="form">
            <div class="row">
                <div class="form-group">
                    <div class="row">
                        <img *ngIf="establishment.logo" [src]="establishment.logo.path">
                    </div>
                    <label>Logo</label>
                    <div class="input-group mb-3">
                        <div class="custom-file">
                    <input (change)="onUploadFile($event.target)"
                           formControlName="logo"
                           id="file"
                           name="files"
                           type="file"
                           accept="image/*">

                        <label class="custom-file-label"
                               for="file">{{establishment?.logo?.name}}
                        </label>
                        </div>
                    <div class="input-group-append">
                        <button class="input-group-text" (click)="deleteFile(logo.id)" [disabled]="!logo">Delete</button>
                    </div>
                </div>
                </div>
                <div class="col-1"></div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name">Nom</label>
                        <input class="form-control" formControlName="name" id="name" placeholder="nom"
                                  type="text">

                        <label for="category">Categorie</label>
                        <input class="form-control" formControlName="category" id="category" placeholder="categorie"
                               type="text">

                        <label for="adress">Adresse</label>
                        <input class="form-control" formControlName="adress" id="adress" placeholder="adresse"
                               type="text">

                        <label for="contact">Contact</label>
                        <input class="form-control" formControlName="contact" id="contact" placeholder="contact"
                               type="text">

                        <div class="row">
                            <div class="col-md-8">
                            </div>
                            <div class="col-md-3">
                                <button [disabled]="editForm.invalid || isSaving " class="btn btn-outline-success float-lg-right" type="submit">
                                    Enregistrer
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </form>
    </div>

