.card {
  margin: 0px 0px 20px 0px;
}
img {
  width: 200px;
  height: 250px;
  padding: 1px;
  margin-inline: auto;
}
.container {
  margin: 20px 80px 20px 100px;
}
.row {
  margin-bottom: 25px;
}
.btn {
  margin-bottom: 15px;
  margin-top: 15px;
}
.form-control {
  margin-bottom: 10px;
}
