<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">

            <button class="btn btn-lg " routerLink="/menu-management/{{id}}/menu-file" routerLinkActive="active">Menu
                File
            </button>
            <br>
            <button class="btn btn-lg " routerLink="/menu-management/{{id}}/digital-menu" routerLinkActive="active">
                Digital Menu
            </button>
        </div>
        <div class="col-md-3"></div>
    </div>
   </div>

