<div class="container" id="add">
    <form [formGroup]="menuForm">
        <div class="row" id="form">
            <div class="col-md-6" >
                <div class="form-group">
                    <label for="name">Name</label>
                    <input class="form-control" formControlName="name" id="name" placeholder="name" type="text">
                </div>

                <div class="form-group">
                    <label>File</label>
                    <div class="input-group mb-3">
                        <div class="custom-file">
                            <input (change)="onUploadFile($event.target)"
                                   name="files"
                                   class="custom-file-input"
                                   formControlName="uploadedFile"
                                   id="file"
                                   type="file"
                                   accept="image/*,application/PDF">

                            <label class="custom-file-label"
                                   for="file">{{uploadedFile?.name}}
                            </label>
                        </div>
                        <div class="input-group-append">
                            <button class="input-group-text" (click)="deleteFile(uploadedFile.id)" [disabled]="!uploadedFile">Delete</button>
                        </div>
                    </div>
                </div>
                <button (click)="add()" [disabled]="menuForm.invalid" class="btn btn-outline-success" type="submit">
                    Ajouter
                </button>
            </div>
            <div class="col-md-3" >
                <div id="qrcode" >
                    <qrcode #parent [qrdata]="data"  [width]="size" [errorCorrectionLevel]="'M'" [elementType]="'img' " ></qrcode>
                    <div class="row" id="download">
                        <a (click)="saveAsImage(parent)">
                            <fa-icon [fixedWidth]="true" [size]="'2x'" icon="download"></fa-icon>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

    <div class="row card" *ngIf="menu">
            <div class="col-md-12" >
                <a [routerLink]="[menu.id, 'edit']"
                        class="btn btn-outline-info"
                        queryParamsHandling="merge"
                        type="submit">
                    <fa-icon icon="edit" [fixedWidth]="true" [size]="'1x'"></fa-icon>
                </a>

                <a (click)="delete(menu.id)" class="btn btn-light" type="button">
                    <fa-icon icon="trash" [fixedWidth]="true" [size]="'1x'"></fa-icon>
                </a>
            <div>
                <h5 class="card-title">{{menu.name}}</h5>
                <img *ngIf="menu.uploadedFile.type === 'PDF'" src="/content/images/PDF.png"  class="card-img-top" id="pdf">
                <img *ngIf="menu.uploadedFile.type !== 'PDF'" [src]="getImageUrl(menu.uploadedFile)" class="card-img-top" id="image">

                <div class="card-body">

                </div>
            </div>
        </div>
    </div>
