.card {
}
#menu {
  //margin: auto;
}
#form {
  padding: 20px 20px 5px 30px;
  background-color: #f8f8ff00;
  padding-bottom: 30px;
}
.container-fluid {
  margin-top: 30px;
  margin-left: -80px;
}
#add.container {
  padding: 30px;
  padding-left: 170px;
}
#qrcode {
  padding: 0px 0px 0px 145px;
}
#pdf {
  margin: 10px;
  width: 80px;
  margin-left: 290px;
  padding-top: 25px;
}
#row.card.col-md-12 {
  background-color: ghostwhite;
  margin-left: auto;
  margin-right: auto;
  padding-left: 170px;
}
.card-title {
  margin: 30px 0px 0px 70px;
  padding-top: 0px;
  font-size: 50px;
  letter-spacing: -3px;
}
.card-body {
  margin-left: 85%;
}
.btn-outline-secondary {
  float: right;
  margin: 30px 0px 0px 70px;
}

#image {
  width: 500px;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 30%;
  margin-right: 25%;
}
.btn-light {
  border-color: #80808033;
}
a.btn {
  border-color: white;
  float: right;
  margin-top: 10px;
}
.row #download {
  margin-left: 210px;
}
.btn-outline-success {
  float: right;
}
