<div class="row content">
    <div class="col-md-4">
        <img *ngIf="product.image"
             [src]="getImageUrl(product.image)"
        [width]="250">
    </div>
<div class="col-md-7">
<div class="card-body ">
    <h4 class="card-title">{{product.name}}</h4>
    <hr class="name">
    <div class="row">
        <div class="col-md-9">
            <p class="card-text" id="description">{{product.description}}</p>
        </div>
    <div class="col-md-3">
        <p class="card-text float-lg-right" id="price"> {{product.price}}</p>
    </div>
    </div>
</div>
    <div class="float-lg-right">
        <a [routerLink]="['product',product.id, 'edit']"
           class="btn btn-outline-info">
            <fa-icon icon="edit" [fixedWidth]="true" [size]="'1x'"></fa-icon>
        </a>
        <a (click)="deleteProduct(product.id)"
           class="btn btn-light">
            <fa-icon icon="trash" [fixedWidth]="true" [size]="'1x'"></fa-icon>
        </a>
    </div>
</div>
</div>
<hr>
