<div class="container">
    <form (ngSubmit)="save()" [formGroup]="editForm" name="editForm" role="form">
        <h2>Edit Menu File</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input class="form-control" formControlName="name" id="name" placeholder="name" type="text">
                    <div
                        *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="file">File</label>
                    <div class="input-group mb-3">
                        <div class="custom-file">
                            <input (change)="onUploadFile($event.target)"
                                   class="custom-file-input"
                                   formControlName="uploadedFile"
                                   id="file"
                                   type="file"
                                   accept="image/*,application/PDF">

                            <label class="custom-file-label" for="file">{{menu?.uploadedFile?.name}}
                            </label>
                            <div
                                *ngIf="editForm.get('uploadedFile')!.invalid && (editForm.get('uploadedFile')!.dirty || editForm.get('uploadedFile')!.touched)">
                            </div>
                        </div>
                        <div class="input-group-append">
                            <button class="input-group-text" (click)="deleteFile(menu.uploadedFile.id)" [disabled]="!menu.uploadedFile">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
            </div>
            <div class="col-md-3">
                <button [disabled]="editForm.invalid || isSaving " class="btn btn-outline-success float-lg-right" type="submit">Save
                    Changes
                </button>
            </div>
        </div>
    </form>
</div>
