<div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center">Inscription</h1>
            <br>
            <br>


            <div class="alert alert-success" *ngIf="success">
                <strong>Inscription Enregistrer</strong> Vérifier votre email pour la confirmation.
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <strong>Inscription echoué</strong> réessayer s'il vous plait!
            </div>

            <div class="alert alert-danger" *ngIf="errorUserExists">
                <strong>Login déjà utilisé</strong> Choisir un autre.
            </div>

            <div class="alert alert-danger" *ngIf="errorEmailExists">
                <strong>Email déjà utilisé</strong> Essayer avec un autre.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch">
                Le mot de passe et sa confirmation ne se conforme pas.
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <form name="form" role="form" (ngSubmit)="register()" [formGroup]="registerForm" *ngIf="!success">
                <div class="form-group">
                    <label class="form-control-label" for="login">Nom d'utilisateur</label>
                    <input type="text" class="form-control" id="login" name="login" placeholder="nom d'utilisateur"
                           formControlName="login" #login>

                    <div *ngIf="registerForm.get('login')!.invalid && (registerForm.get('login')!.dirty || registerForm.get('login')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('login')?.errors?.required">
                            Champs obligatoire*
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('login')?.errors?.minlength">
                            Minimum 3 caractére.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('login')?.errors?.maxlength">
                            Nom d'utilisateur ne peut pas passer 50 caractére!
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('login')?.errors?.pattern">
                            Nom d'utilisateur ne peut contenir que des lettres et des chiffres.

                        </small>
                    </div>
                </div>

          <!--      <div class="form-group">
                    <label class="form-control-label" for="login">First Name</label>
                    <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Your firstname"
                           formControlName="firstname" #login>

                    <div *ngIf="registerForm.get('firstname')!.invalid && (registerForm.get('firstname')!.dirty || registerForm.get('firstname')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('firstname')?.errors?.required">
                            Your username is required.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('firstname')?.errors?.minlength">
                            Your username is required to be at least 1 character.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('firstname')?.errors?.maxlength">
                            Your username cannot be longer than 50 characters.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('firstname')?.errors?.pattern">
                            Your username can only contain letters and digits.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="login">Last Name</label>
                    <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Your lastname"
                           formControlName="lastname" #login>

                    <div *ngIf="registerForm.get('lastname')!.invalid && (registerForm.get('lastname')!.dirty || registerForm.get('lastname')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('lastname')?.errors?.required">
                            Your username is required.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('lastname')?.errors?.minlength">
                            Your username is required to be at least 1 character.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('lastname')?.errors?.maxlength">
                            Your username cannot be longer than 50 characters.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('lastname')?.errors?.pattern">
                            Your username can only contain letters and digits.
                        </small>
                    </div>
                </div> -->


                <div class="form-group">
                    <label class="form-control-label" for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Votre email"
                             formControlName="email">

                    <div *ngIf="registerForm.get('email')!.invalid && (registerForm.get('email')!.dirty || registerForm.get('email')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('email')?.errors?.required">
                            email obligatoire*
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('email')?.errors?.invalid">
                             email invalid.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('email')?.errors?.minlength">
                             email doit avoir au minimum 5 characteres.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('email')?.errors?.maxlength">
                            email ne peut pas passer100 charactéres.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="password">Nouveau mot de passe</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="nouveau mot de passe"
                            formControlName="password">

                    <div *ngIf="registerForm.get('password')!.invalid && (registerForm.get('password')!.dirty || registerForm.get('password')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('password')?.errors?.required">
                            Mot de passe obligatoire*
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('password')?.errors?.minlength">
                            Minimum 4 caractéres
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('password')?.errors?.maxlength">
                            Mot de passe ne doit pas passer 50 charactéres.
                        </small>
                    </div>

                    <jhi-password-strength-bar [passwordToCheck]="registerForm.get('password')!.value"></jhi-password-strength-bar>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="confirmPassword">Confirmation de mot de passe </label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirmer nouveau mot de passe"
                            formControlName="confirmPassword">

                    <div *ngIf="registerForm.get('confirmPassword')!.invalid && (registerForm.get('confirmPassword')!.dirty || registerForm.get('confirmPassword')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('confirmPassword')?.errors?.required">
                            Confirmation de mot de passe obligatoire*
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('confirmPassword')?.errors?.minlength">
                            Minimum 4 caractéres.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('confirmPassword')?.errors?.maxlength">
                            Mot de passe ne doit pas passer 50 caractéres
                        </small>
                    </div>
                </div>

                <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary">S'inscrire</button>
            </form>

        </div>
    </div>
</div>
