/* ==========================================================================
Main page styles
========================================================================== */

.image {
  width: 347px;
  height: 480px;
  background: url('../../content/images/affiche.jpg') no-repeat;
  background-size: contain;
  float: right;
  margin: 25px -103px 25px 65px;
}
p {
  margin-top: 120px;
  margin-bottom: 10rem;
  text-align: justify;
  font-size: 22px;
  text-shadow: 0 0 black;
  color: dimgray;
}
.partners {
  background: white;
  margin: 0px -29px -15px -30px;
  height: 8cm;
}
h2 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  color: rosybrown;
  margin-bottom: -5px;
}
//
///* wait autoprefixer update to allow simple generation of high pixel density media query */
//@media only screen and (-webkit-min-device-pixel-ratio: 2),
//  only screen and (-moz-min-device-pixel-ratio: 2),
//  only screen and (-o-min-device-pixel-ratio: 2/1),
//  only screen and (min-resolution: 192dpi),
//  only screen and (min-resolution: 2dppx) {
//  .hipster {
//    background: url('../../content/images/jhipster_family_member_0_head-192.png') no-repeat center top;
//  }
//}
//.picsum-img-wrapper {
//  height: 6cm;
//}
.partners-img {
  margin-left: auto;
  margin-right: auto;
}
//.container {
//  background: url('../../content/images/background.jpg')
//}
